<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.sanus.boot11.board.BoardMapper">

  <insert id="save" parameterType="kr.sanus.boot11.board.Board">
    INSERT INTO board (title, content, writer, createdDate, updatedDate) VALUES
    (#{title},#{content},#{writer},#{createdDate},#{updatedDate})
  </insert>

</mapper>